form {
    font-weight: bold;
    max-width: 1200px;
    margin: 32px auto 0 auto;
    width: 100%;
    font-size: 20px;
    border-radius: 2px;
    transition: all 200ms ease;
    display: flex;
    justify-content: space-between;
}

.form__title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 1.2px;
    margin-bottom: -10px;
}

.form__left {
    width: 50%;
}

.form__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.form__title--right {
    font-size: 70px;
    text-align: center;
}

.form__para--right {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding: 4px;
}

label {
    margin-bottom: 3px;
    font-size: 24px;
    letter-spacing: 1px;
}

.form__submit {
    border: 2px solid #FF3B3F;
    background: #FF3B3F;
    color: #fff;
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 2px;
    transition: all 200ms ease;
    cursor: pointer;
}

.form__submit:hover {
    border-color: #FF3B3F;
    background-color: transparent;
    color: #FF3B3F;
}

.form__submit:active {
    border-color: #FF3B3F;
    color: #FF3B3F;
}

.wave {
    position: absolute;
    bottom: 1px;
    z-index: -1;
}

.error__message {
    margin-bottom: 12px;
}

@media (max-width: 750px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form__right {
        margin-top: 40px;
        width: 100%;
    }

    .form__left {
        width: 100%;
    }
}