@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/* @import "~video-react/styles/scss/video-react";  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.video__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ff3b3f;
  border-radius: 8px;
  margin: 0 auto 30px auto;
  width: 100%;
}

.dark {
  background-color: #242424;
  color: #fff;
}

.light {
  background-color: #efefef;
  color: #a9a9a9;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #242424;
  color: #f5f5f5;
  transition: all 300ms ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.gold {
  color: gold;
}

.btn__wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  margin: 16px 0;
}

.next__lesson--btn {
  border: 1px solid #a9a9a9;
  background-color: #ff3b3f;
  padding: 10px 100px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: all 200ms ease;
}

.next__lesson--btn:hover {
  background-color: #f87678;
}

/* .btn__wrapper:hover {
  transform: scale(1.1);
} */

.video {
  width: 100%;
  position: relative;
  
}

.asset {
  background-color: #242424;
  color: white;
  width: 15%;
  padding: 12px 24px;
  margin-left: 2px;
  margin-bottom: 8px;
  border-radius: 12px;
  text-align: center;
  transition: all 300ms ease;
}

.asset:hover {
  color: #242424;
  background-color: #ecece9;
  border: 1px solid #242424;
}